# Normalize line endings for all text files
* text=auto eol=lf

# Exclude everything from the zip download
/** export-ignore

# Re-include only the addons folder and its contents
/addons !export-ignore
/addons/** !export-ignore